{% extends 'base.html' %}

{% block content %}

<form class="form-signin mt-5" method = "POST">
    <!-- <img class="mb-4" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal text-center mb-3">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <p class = "text-center">Do not have account yet? <a href={{url_for('root.register')}}>Sign up here</a></p>  
    <p class = "text-center">Forgot password? <a href={{url_for('root.resetpassword')}}> Reset password here</a> </p>
</form>


{% endblock content %}