<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<form class="form-signin mt-5" method = "POST">
        <!-- <img class="mb-4" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal text-center mb-3">Set new password</h1>
       
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
 
        <label for="inputPassword" class="sr-only">Confirm password</label>
        <input type="password" name="confirm" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        <br/>
       
    </form>
</body>
</html>