{% extends 'base.html' %}

{% block content %}
<form class="form-signin mt-5" method = "POST">
        <!-- <img class="mb-4" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal text-center">Sign up today</h1>
        <div class="list">
        <p><strong> What is your name?*</strong></p>
        <label for="username" class="sr-only">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" required autofocus></br>
        <p> <strong>What is your Email address?*</strong></p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus></br>
        <p> <strong>Pick a password*</strong></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
         </div>
        </div>
        <button class="btn btn-lg btn-success btn-block sign-up-done" type="submit">You're all set!</button>
 </form>            
{% endblock content %}